@import "../../styling/variables.module.scss";


.documentation-container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-shadow: 2px 2px 2px 2px rgba(184, 184, 184, 0.75);
  -moz-box-shadow: 2px 2px 2px 2px rgba(184, 184, 184, 0.75);
  box-shadow: 2px 2px 2px 2px rgba(184, 184, 184, 0.75);
  border: 2px solid black;
  text-align: center;
  margin: 2rem;
  margin-top: 0;
  img {
    width: fit-content;
    margin-left: 5rem;
    margin-right: 5rem;
    transition: transform .2s;
    &:hover {
      transform: scale(1.25);
    }
  }
}

  .contact-body-container {
    text-align: center;
    display: grid;
    // ustify-items, align-items, justify-content, align-content, justify-self and align-self.
    justify-content: center;
    margin: 2rem;
    margin-top: 0;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(184, 184, 184, 0.75);
    -moz-box-shadow: 2px 2px 2px 2px rgba(184, 184, 184, 0.75);
    box-shadow: 2px 2px 2px 2px rgba(184, 184, 184, 0.75);
    border: 2px solid black;
    min-height: 100vh;

    .inquiries-container {

      color: white;
      background-color: green;
      padding-bottom: 1rem;

      .inquiries-content {

        text-align: left;
        padding-top: 3rem;

        .information-container {
          .himama-container {
            img {
              width: 2rem;
              margin-right: 0.5rem;
            }
          }

          .inquiry-icon {
            color: white;
            margin-right: 0.5rem;
          }
        }

        h1 {
          font-family: 'Raleway';
        }

        p {
          font-family: 'Raleway';
        }
      }
    }

    .form-container {
      padding: 2rem;


      .error-msg {  
        font-size: 1rem;
        color: red;
        margin-bottom: 1rem;
        font-family: 'Alata';
      }

      h1 {
        font-family: 'Raleway';
      }

      label {
        font-family: 'Alata';
      }

      .email-phone-container {
        width: 100%;

        .email-container {
          float: left;
        }

        .phone-container {
          float: right;
        }
      }

      input[type=text] {
        &::placeholder {
          font-size: 1.25rem;
        }
      }

      textarea {

        &::placeholder {
          font-size: 1.25rem;
        }
      }

      .name-container,
      .subject-container,
      .content-container {
        input[type=text] {
          width: 100%;
        }
      }


      @keyframes spin {
        0% {
          transform: rotateZ(0);
        }

        100% {
          transform: rotateZ(720deg);
        }
      }

      $color: rgb(21, 131, 21);

      body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;
      }

      button {
        font-family: 'Raleway';
        position: relative;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        padding: 0;
        margin-top: 1rem;
        width: 200px;
        height: 50px;
        border-radius: 25px;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        overflow: hidden;
      }

      .spin {
        border: 2px solid $color;
        color: $color;
        font-weight: 600;
        transition: all 200ms ease-in-out;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          transition: opacity 200ms ease-in-out;

          &:last-child {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
          }
        }

        svg {
          height: 30px;
          fill: $color;
        }

        &:hover {
          background-color: $color;
          color: #fff;
        }

        &.done,
        &.processing {
          pointer-events: none;
          cursor: default;
        }

        &.processing {
          width: 50px;
          border-width: 4px;
          border-right-color: #bbb;
          border-bottom-color: #bbb;

          animation: spin;
          animation-delay: 200ms;
          animation-duration: 2s;
          animation-timing-function: ease-in-out;
          animation-iteration-count: 1;

          &:hover {
            background-color: transparent;
          }

          span:first-child {
            opacity: 0;
          }
        }

        &.done {
          &:hover {
            background-color: transparent;
          }

          span:first-child {
            opacity: 0;
          }

          span:last-child {
            opacity: 1;
          }
        }
      }
    }

  }

/*Scaling */
@media (min-width: 1920px) {
  .contact-body-container {    
    grid-template-columns: 30% 70%;

    .inquiries-container {

      .inquiries-content {
        padding-left: 2rem;

        p {
          font-size: 1.5rem;
        }

        .inquiry-icon {
          margin-right: .5rem;
        }
      }
    }

    .form-container {

      .name-container,
      .subject-container,
      .content-container {
        margin-bottom: 1rem;
      }

      button {
        width: 20rem;
        height: 2.5rem;
        font-size: 2rem;
      }

      input[type=text] {
        height: 3rem;
      }

      label {
        font-size: 2rem;
      }

      .email-phone-container {
        margin-bottom: 10rem;

        .email-container {
          float: left;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }

        .phone-container {
          float: right;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .contact-body-container {
    grid-template-columns: 30% 70%;

    .inquiries-container {

      .inquiries-content {
        padding-left: 1.5rem;

        p {
          font-size: 1.25rem;
        }
      }
    }

    .form-container {

      .name-container,
      .subject-container,
      .content-container {
        margin-bottom: 1rem;
      }

      button {
        width: 20rem;
        height: 2.5rem;
        font-size: 2rem;
      }

      input[type=text] {
        height: 3rem;
      }

      label {
        font-size: 1.5rem;
      }

      .email-phone-container {
        margin-bottom: 8rem;

        .email-container {
          float: left;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }

        .phone-container {
          float: right;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  
.documentation-container {
  img {
    width: 100px;
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

  .contact-body-container {
    grid-template-columns: 30% 70%;

    .inquiries-container {

      .inquiries-content {
        padding-left: 1.5rem;

        h1 {
          font-size: 1.85rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    .form-container {

      .name-container,
      .subject-container,
      .content-container {
        margin-bottom: 1rem;
      }

      button {
        width: 20rem;
        height: 2.5rem;
        font-size: 2rem;
      }

      input[type=text] {
        height: 3rem;
      }


      padding: 2rem !important;

      label {
        font-size: 1.5rem;
      }

      .email-phone-container {
        margin-bottom: 8rem;

        .email-container {
          float: left;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }

        .phone-container {
          float: right;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 991.98px) {
  .documentation-container {
    img {
      width: 80px;
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
  .contact-body-container {
    grid-template-columns: 100%;

    .inquiries-container {

      .inquiries-content {
        padding-left: 1rem;

        h1 {
          font-size: 3rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }

    .form-container {
      padding: 2rem !important;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }

      label {
        font-size: 1.5rem;
      }

      .email-phone-container {
        margin-bottom: 8rem;

        .email-container {
          float: left;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }

        .phone-container {
          float: right;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767.98px) {
  .documentation-container {
    img {
      width: 70px;
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }
  .contact-body-container {
    grid-template-columns: 100%;
    // ustify-items, align-items, justify-content, align-content, justify-self and align-self.

    .inquiries-container {

      .inquiries-content {
        padding-left: 1rem;

        p {
          font-size: 1.5rem;
        }

        h1 {
          font-size: 3rem;
        }

        .inquiry-icon {
          margin-right: .5rem;
        }
      }
    }


    .form-container {
      padding: 2rem !important;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }

      label {
        font-size: 1.5rem;
      }

      .email-phone-container {
        margin-bottom: 8rem;

        .email-container {
          float: left;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }

        .phone-container {
          float: right;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .documentation-container {
    img {
      width: 60px;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .contact-body-container {
    grid-template-columns: 100%;
    // ustify-items, align-items, justify-content, align-content, justify-self and align-self.

    .inquiries-container {

      .inquiries-content {
        padding-left: 1rem;

        p {
          font-size: 1rem;
        }

        h1 {
          font-size: 2rem;
        }

        .inquiry-icon {
          margin-right: .5rem;
        }
      }
    }


    .form-container {
      padding: 2rem !important;

      h1 {
        font-size: 2rem;
      }

      p {
        font-size: 1.5rem;
      }

      label {
        font-size: 1rem;
      }

      .email-phone-container {
        margin-bottom: 7rem;

        .email-container {
          float: left;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: 1rem;
            }
          }
        }

        .phone-container {
          float: right;
          width: 45%;

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: .85rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .documentation-container {
    img {
      width: 40px;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
  .contact-body-container {
    grid-template-columns: 100%;
    // ustify-items, align-items, justify-content, align-content, justify-self and align-self.


    .inquiries-container {

      .inquiries-content {
        padding-left: 1rem;

        p {
          font-size: 1rem;
        }

        h1 {
          font-size: 2.25rem;
        }

        .inquiry-icon {
          margin-right: .5rem;
        }
      }
    }


    .form-container {
      padding: 2rem !important;

      
      button {
        width: 15rem;
      }

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: .85rem;
      }

      label {
        font-size: 1rem;
      }

      .email-phone-container {
        margin-bottom: 7rem;

        .email-container {

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: .75rem;
            }
          }
        }

        .phone-container {

          input[type=text] {
            width: 100%;

            &::placeholder {
              font-size: .75rem;
            }
          }
        }
      }
    }
  }
}

 @media (max-width: 420px) {
  .documentation-container {
    img {
      width: 35px;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}


@media only screen and (max-width: 319px) {}