/*Common Theme Colors*/
$primaryPurple: #7400a9;
$primaryGreen: #63bb64;
$primaryBrown: #4b2824;
$primaryBlue: #95b5ff;


/*Fonts*/
/*Cleanup*/
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Coda');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Alata');